/* Loader.css */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust this as necessary */
  }
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    animation: bounce 0.6s infinite alternate;
  }
  
  .dot:nth-child(1) {
    animation-delay: 0s;
  }
  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  .dot:nth-child(4) {
    animation-delay: 0.6s;
  }
  
  @keyframes bounce {
    to {
      transform: translateY(-20px);
      opacity: 0.7;
    }
  }
  